@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="mt-4">
    <a asp-controller="Mascota" asp-action="ListaClientes" class="btn btn-success btn-lg">
        <i class="fas fa-plus-circle"></i> Asociar Mascota a un Cliente
    </a>
</div>