@{
    ViewData["Title"] = "Enlace Enviado";
    Layout = null; 
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/login-styles.css">
    <title>VetIng - @ViewData["Title"]</title>
</head>

<body>
    <div class="login-main">
        <div class="login-container">
            <div class="container-img-recuperar"></div>
            <div class="container-formulario">
                <div class="ingreso-correo">
                    <i class="fas fa-envelope-open-text fa-5x" style="color: #28a745;"></i>
                    <h1>¡Enlace Enviado!</h1>
                    <p class="login-subtext">
                        Por favor, revisa tu correo electrónico para las instrucciones de restablecimiento de contraseña. Si no lo ves, revisa tu carpeta de spam.
                    </p>
                </div>

                <div class="signup-link">
                    <a asp-action="Login" asp-controller="Account" class="link-secondary">Volver al inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>