@model SistemaVetIng.ViewModels.LoginViewModel;

@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/login-styles.css">
    <title>VetIng - Iniciar Sesión</title>
</head>

<body>
    <main class="login-main">
        <div class="login-container">
            <div class="container-img-login"></div>
            <div class="container-formulario">
                <div class="ingreso-correo">
                    <h1>¡Bienvenido a VetIng!</h1> 
                    <p class="login-subtext">Ingresa tus credenciales o usa tus redes sociales.</p>
                    <div class="social-icons">
                        <a href="#" class="social-icon google"><i class="fa-brands fa-google"></i></a>
                        <a href="#" class="social-icon twitter"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>

                <div class="formulario">
                    @* Formulario que enviará los datos al método Login del AccountController *@
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login-form">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger error-summary"></div> @* Mostrar errores de validación generales *@

                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" id="name" placeholder="Tu correo electrónico" class="form-control" /> 
                            <span asp-validation-for="UserName" class="text-danger validation-error"></span> 
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" id="pass" placeholder="Tu contraseña" class="form-control" /> 
                            <span asp-validation-for="Password" class="text-danger validation-error"></span>
                        </div>

                        <button type="submit" class="button login-button">Ingresar</button> 

                        <p class="signup-link">¿No eres miembro? <a asp-controller="Cliente" asp-action="Registro" class="link-secondary"> Registrarme </a></p>
                        <a asp-controller="Account" asp-action="RecuperarContraseña" class="link-secondary forgot-password">¿Olvidaste tu contraseña?</a>
                    </form>
                </div>
            </div>
        </div>
    </main>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
   
</body>

</html>